* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.background {
  position: relative;
  top: 3vh;
  height: 40vh;
  width: 100vw;
  color: black;
  font-family: DM Serif Text;
  font-size: 20px;
}

.background h1 {
  position: relative;
  top: 3vh;
  text-align: center;
  color: black;
}

.searchbar {
  position: relative;
  top: 8vh;
  background: url(/images/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  box-shadow: 3px 5px 8px grey;
}

.searchbar button {
  height: 8vh;
  width: 10vw;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.searchbar input {
  height: 8vh;
  width: 40vw;
  font-size: 20px;
}
.hideContent {
  display: none;
}

@media (max-width: 480px) {
  .background {
    height: 25vh;
    width: 100vw;
  }
  .background h1 {
    position: relative;
    font-size: 16px;
  }

  .searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .searchbar input,
  .searchbar button {
    font-size: 12px;
    height: 5vh;
    width: 70vw;
  }
}
