* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu2Container,
.menu1Container,
.menu3Container {
  background: linear-gradient(to right, white, grey, white);
  color: black;
  height: 40vh;
  width: 30%;
  position: relative;
  top: 5vh;
  border: 1px solid black;
  box-shadow: 3px 5px 8px grey;
}

.menu1Container img,
.menu2Container img,
.menu3Container img {
  padding: 20px;
  height: 25vh;
  width: 100%;
}

.content {
  padding: 20px;
  position: relative;
  bottom: 3vh;
  height: 20vw; 
}

@media (max-width: 480px) {
  .menu1Container,
  .menu2Container,
  .menu3Container {
    position: relative;
    top: 25vh;
    left: 20vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50%;
    
  }
  .menu1Container img,
  .menu2Container img,
  .menu3Container img {
    height: 20vh;
  }

  .content {
    font-size: 12px;
  }
}
